@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__indent-all {
    margin-bottom: 32px;
}

.header__content {
    width: 1000px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 160px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #3A3A3A;
}

.header__logo-yellow {
    color: #FFCD06;
}

.header__logo-dark {
    color: #3A3A3A;
}

.header__search {
    width: 360px;
    display: flex;
    justify-content: flex-end;
}

.header__input {
    padding: 8px 7px;
    width: 272px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 200px;
}

.header__input-indent {
    margin-right: 8px;
}

.header__button {
    width: 64px;
    height: 32px;
    cursor: pointer;
    background: #3A3A3A;
    border-radius: 8px;
    border: none;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

.header__button:hover {
    background: #FFCD06;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__content-empty {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.25px;
    color: #12121F;
}

.card {
    width: 310px;
    height: 140px;
    background: #FE805C;
    border-radius: 24px;
    padding: 24px;
}

.card__indent-bottom {
    margin-bottom: 8px;
}

.card__image {
    background-color: #FFCD06;
}

.card__artist {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}

.card__artist-indent {
    margin-bottom: 4px;
}

.card__track {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.card__track-indent {
    margin-bottom: 4px;
}

.card__album {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 12px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.card__album-indent {
    margin-bottom: 8px;
}

.card__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.card__link:hover {
    color: #4643D3;
}

.card__link-wrapper {
    display: flex;
    justify-content: flex-end;
}
